PLM_Node_Red_Leitsystem.json
[{"id":"dbbea95a.acf008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"447281bc.4e9ed","type":"serial out","z":"dbbea95a.acf008","name":"","serial":"60f42666.2a8e48","x":830,"y":120,"wires":[]},{"id":"dea18130.df03e","type":"inject","z":"dbbea95a.acf008","name":"","topic":"","payload":"pickup(0)","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":80,"wires":[["447281bc.4e9ed","7ad4a164.6fa81"]]},{"id":"7ad4a164.6fa81","type":"debug","z":"dbbea95a.acf008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":260,"wires":[]},{"id":"3c8d948c.6d15bc","type":"serial in","z":"dbbea95a.acf008","name":"","serial":"60f42666.2a8e48","x":210,"y":300,"wires":[["49f1a4d4.2c3c2c","f32e4b7f.9e5ac8"]]},{"id":"49f1a4d4.2c3c2c","type":"debug","z":"dbbea95a.acf008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":380,"wires":[]},{"id":"f8866922.f53ea8","type":"ui_button","z":"dbbea95a.acf008","name":"Pickup(0)","group":"93dced06.a6b53","order":0,"width":0,"height":0,"passthru":false,"label":"Pickup(0)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pickup(0)","payloadType":"str","topic":"","x":260,"y":120,"wires":[["447281bc.4e9ed"]]},{"id":"ce5647a2.417668","type":"ui_button","z":"dbbea95a.acf008","name":"Drop left","group":"93dced06.a6b53","order":0,"width":0,"height":0,"passthru":false,"label":"Drop left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"drop(0)","payloadType":"str","topic":"","x":260,"y":160,"wires":[["447281bc.4e9ed"]]},{"id":"6188123b.c7b4cc","type":"ui_button","z":"dbbea95a.acf008","name":"Drop right","group":"93dced06.a6b53","order":0,"width":0,"height":0,"passthru":false,"label":"Drop right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"drop(1)","payloadType":"str","topic":"","x":260,"y":200,"wires":[["447281bc.4e9ed"]]},{"id":"f32e4b7f.9e5ac8","type":"ui_text","z":"dbbea95a.acf008","group":"9ab298ab.dad5c8","order":3,"width":0,"height":0,"name":"log","label":"log","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":300,"wires":[]},{"id":"60f42666.2a8e48","type":"serial-port","z":"","serialport":"COM18","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"93dced06.a6b53","type":"ui_group","z":"dbbea95a.acf008","name":"Pick & Drop control","tab":"1af2ffe8.305bc","disp":true,"width":"9","collapse":false},{"id":"9ab298ab.dad5c8","type":"ui_group","z":"","name":"Latest","tab":"1af2ffe8.305bc","disp":true,"width":"6","collapse":false},{"id":"1af2ffe8.305bc","type":"ui_tab","z":"dbbea95a.acf008","name":"Home","icon":"dashboard"}]